[Unit]
Description=Weekly defragmentation of XFS filesystem

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
