#
# ~/.gitignore
#
## archive ##
*.zip
*.lzh
*.tar.gz
*.tgz
*.bz2
*.dmg
# *.lock

## Compiled object files ##
*.slo
*.lo
*.o
*.obj

## Compiled Dynamic libraries ##
*.so
*.dylib
*.dll

## Compiled Static libraries ##
*.lai
*.la
*.a
*.lib

## Executables ##
*.exe
*.exe~
*.out
*.app
*.bin

## node
node_modules

## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
:w
:q
# Icon must ends with two \r.
Icon


## version control system ##
.git/
.hg/
.svn/

## backup,log ##
*~
~*
*.tmp
*.hdf5
*.bak
*.old
*.log
.cache/
.glide/
*.autosave

## Vim / Neovim ##
*.un~
.*.sw[a-z]
*.swp
.swp.*

Session.vim
.netrwhist

vim-plug
vim-plug/
*vim-plug
vim-plug/*
.nvimlog
nvim/site/*
nvim/log/*
nvim/plugin/*

## netbeans ##
nbproject/
## intellij idea ##
.idea/
## eclipse ##
.settings/
.project
.classpath
.buildpath
.metadata
## XCode ##
*.xcodeproj/*

## Build dir ##
build/
/tmp
/vendor
/log

## Certification Files
*.rsa
*.cert
*.crt
# *.key
*.cer
*.pem

\;w
\;

.vscode/

.envrc
.env
.air.*
.air.*.conf

## Go ##
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Misc ##
.worktrees/
telepresence.log
*.zwc
