<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Label</key>
 <string>localhost.homebrew-autoupdate</string>
 <key>ProcessType</key>
 <string>Background</string>
 <key>ProgramArguments</key>
 <array>
   <string>/bin/sh</string>
   <string>-c</string>
   <string>/usr/local/bin/brew update &amp;&amp;
     /usr/local/bin/brew upgrade &amp;&amp;
     /usr/local/bin/brew cleanup &amp;&amp;
     /usr/local/bin/terminal-notifier -title 'Homebrew' -message 'Homebrew upgraded'
   </string>
 </array>
 <key>RunAtLoad</key>
 <true/>
 <key>StandardErrorPath</key>
 <string>/tmp/localhost.homebrew-upgrade.stderr</string>
 <key>StandardOutPath</key>
 <string>/tmp/localhost.homebrew-upgrade.stdout</string>
 <key>StartCalendarInterval</key>
 <dict>
   <key>Hour</key>
   <integer>8</integer>
 </dict>
</dict>
</plist>
