// helix-compatible key bindings for gitui
(
    open_help: Some(( code: F(1), modifiers: "")),

    move_left:  Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up:    Some(( code: Char('k'), modifiers: "")),
    move_down:  Some(( code: Char('j'), modifiers: "")),

    popup_up:   Some(( code: Char('p'), modifiers: "CONTROL")),
    popup_down: Some(( code: Char('n'), modifiers: "CONTROL")),
    page_up:    Some(( code: Char('u'), modifiers: "CONTROL")),
    page_down:  Some(( code: Char('d'), modifiers: "CONTROL")),
    home:       Some(( code: Char('g'), modifiers: "")),
    end:        Some(( code: Char('G'), modifiers: "SHIFT")),
    shift_up:   Some(( code: Char('k'), modifiers: "CONTROL")),
    shift_down: Some(( code: Char('j'), modifiers: "CONTROL")),

    edit_file: Some(( code: Char('I'), modifiers: "SHIFT")),

    status_reset_item: Some(( code: Char('U'), modifiers: "SHIFT")),

    diff_reset_lines: Some(( code: Char('u'), modifiers: "")),
    diff_stage_lines: Some(( code: Char('s'), modifiers: "")),

    stashing_save:         Some(( code: Char('s'), modifiers: "CONTROL")),
    stashing_toggle_index: Some(( code: Char('t'), modifiers: "")),

    stash_open: Some(( code: Char('l'), modifiers: "")),

    abort_merge: Some(( code: Char('M'), modifiers: "SHIFT")),
)
