[ClassicUI]
# Status Panel Position X
#MainWindowOffsetX=500
# Status Panel Position Y
#MainWindowOffsetY=40
# Font Size
FontSize=10
# Font
Font=HackGen
# Menu Font
MenuFont=HackGen
# Font Locale to display
FontLocale=en_US.UTF-8
# Use System Tray Icon
# Available Value:
# True False
UseTray=False
# Status Panel Hide Mode
# Available Value:
# Show
# Auto
# Hide when tray icon is available
# Hide
MainWindowHideMode=Hide
# Vertical Candidate Word List
# Available Value:
# True False
VerticalList=True
# Skin Name
SkinType=dark

