[Unit]
Description=Pulse Audio

[Service]
Type=simple
User=root
ExecStart=/usr/bin/pulseaudio --start --system -D --disallow-exit --disable-shm

[Install]
WantedBy=multi-user.target
