[Unit]
Description="Start tmux in detached session"

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/tmux -2 new-session -s %u -d
ExecStop=/usr/bin/tmux -2 kill-session -t %u

[Install]
WantedBy=multi-user.target
